@model IEnumerable<Entities.DatosContacto>

@{
    ViewBag.Title = "Index";
}

<h2>Index cambios otra vez </h2>

<p>
    @Html.ActionLink("Crear Nuevo","Create","DatosPersonales") | 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatosPersonales.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatosPersonales.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatosPersonales.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatosPersonales.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        @{
            var color = "#fff";
            if (item.DatosPersonales.Activo == false)
            {
                color = "tomato";
            }
            else if (item.DatosPersonales.Activo == true)
            {
                color = "lightgreen";
            }


        }
        <td style="background-color:@color">
            @Html.DisplayFor(modelItem => item.DatosPersonales.Nombre)
            @Html.DisplayFor(modelItem => item.DatosPersonales.ApellidoPaterno)
            @Html.DisplayFor(modelItem => item.DatosPersonales.ApellidoMaterno)

        </td>
        <td style="background-color:@color">
            @Html.DisplayFor(modelItem => item.DatosPersonales.Direccion)
        </td>
        <td style="background-color:@color">
            @Html.DisplayFor(modelItem => item.DatosPersonales.Estado.Nombre)

        </td>
        <td style="background-color:@color">
            @Html.DisplayFor(modelItem => item.DatosPersonales.Activo)

        </td>

        <td style="background-color:@color">
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td style="background-color:@color">
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.ActionLink("Editar Datos de Contacto", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @*@Html.ActionLink("D", "Delete", new { id = item.Id })*@
        </td>
       



    </tr>
}

</table>

